/* Styles for the body element */
body {
  font-family: serif;
  font-size: 20px;

  /*background image from https://www.freepik.com */
  background-image: url("../images/background.jpg");
  background-size: cover;
}
/* Styles for the header */
.jumbotron {
  text-align: center;
  background-color: rgba(240, 195, 17, 0.128);
  color: rgb(48, 2, 2);
  border-radius: 0;
  border-bottom: 5px solid rgb(48, 2, 2);
  font-weight: bold;
}
/* Styles for main content */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: rgba(244, 236, 236, 0.466);
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #eabbb9;
  color: black;
}

.future {
  background-color: #9adfbb;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}
.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.lead {
  background-color: #ffffff51;
  display: inline;
  padding: 4px;
}

#lead {
  margin-bottom: 2%;
}

#currentDay {
  font-family: monospace;
  background-color: #ffffff51;

  display: inline;
  padding: 4px;
}
.container {
  margin-bottom: 2%;
}
